#header{
min-height:100px;
background-color:lightgreen;
box-sizing:border-box;
padding-top:30px;
text-align:center;
font-size:40px;
color:blue;
border:2px solid gray;
border-radius:15px;

}


.btn{
height:60px;
margin-left:10px;
font-size:32px;
width:50px;
border:2px solid brown;
border-radius:8px;
}

#div_btn{
width:78%;
margin:0 auto 0 auto;
}

#div_notification{
min-height:60px;
width:60%;

margin:0 auto 0 auto;
border-radius:10px;
}

.div_noti{
background-color:green;
font-size:25px;
color:white;
padding-top:15px;
text-align:center;
}

.div_noti2{
background-color:yellow;
font-size:25px;
color:red;
padding-top:15px;
text-align:center;
}

.div_noti3{
background-color:gray;
font-size:25px;
color:black;
padding-top:15px;
text-align:center;
}

.div_noti4{
background-color:lightpink;
font-size:25px;
color:blue;
padding-top:15px;
text-align:center;
}

.div_noti5{
background-color:black;
font-size:25px;
color:white;
padding-top:15px;
text-align:center;
}


.div_noti6{
background-color:blue;
font-size:25px;
color:white;
padding-top:15px;
text-align:center;
}


.div_noti7{
background-color:red;
font-size:25px;
color:white;
padding-top:15px;
text-align:center;
}


.div_noti8{
background-color:lightgray;
font-size:25px;
color:black;
padding-top:15px;
text-align:center;
}

.div_noti9{
background-color:lightgreen;
font-size:25px;
color:blue;
padding-top:15px;
text-align:center;
}

.div_noti10{
background-color:#006080;
font-size:25px;
color:white;
padding-top:15px;
text-align:center;
}

.div_noti11{
background-color:#b3ecff;
font-size:25px;
color:black;
padding-top:15px;
text-align:center;
}


.div_noti12{
background-color:#ffaa00;
font-size:25px;
color:white;
padding-top:15px;
text-align:center;
}

#div_list{
min-height:0px;
width:25%;

margin:0 auto 0 auto;
border-radius:10px;
padding:8px;
font-size:15px;

font-weight:bold;

}

.divlist{
background-color:pink;
border:1px solid pink;
}